.header {
  display: flex;
  justify-content: space-between;
}

.header button {
  appearance: none;
  padding: 0 10px;
  margin: 0;
  border: none;
  background: none;
  font-size: 4em;
  cursor: pointer;
}

.tableContainer {
  width: 100%;
  overflow-x: scroll;
  border: 1px solid #ccc;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: left;
  padding: 0.2em 0.5em;
  border: 1px solid #ccc;
  background: #fff;
}

.table th:nth-child(1) {
  width: 10%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

td.allowed {
  text-align: center;
  color: #fff;
  background: green;
}

td.disallowed {
  text-align: center;
  color: #fff;
  background: darkred;
}
